.env.project
.env

aula-2/send-message-to.discord.sh

send-message-to.discord.sh

aula-2/setup/magasiara/magento_data/

aula-2/setup/magasiara/terraform/.terraform/
aula-2/setup/magasiara/terraform/.terraform.lock.hcl
aula-2/setup/magasiara/terraform/terraform.tfstate
aula-2/setup/magasiara/terraform/terraform.tfstate.backup
aula-2/setup/magasiara/terraform/terraform.tfvars

.terraform
.terraform.lock.hcl

terraform.tfstate
terraform.tfstate.backup