# loki-values.yaml
deploymentMode: SingleBinary

loki:
  auth_enabled: false
  commonConfig:
    replication_factor: 1
  storage:
    type: filesystem
    bucketNames:
      chunks: loki-chunks
      ruler: loki-ruler
      admin: loki-admin
  schemaConfig:
    configs:
      - from: "2024-01-01"
        store: boltdb-shipper
        object_store: filesystem
        schema: v13
        index:
          prefix: index_
          period: 24h
  limits_config:
    allow_structured_metadata: false

persistence:
  enabled: true
  storageClassName: "local-path"
  accessModes:
    - ReadWriteOnce
  size: 20Gi

singleBinary:
  replicas: 1

gateway:
  enabled: true
  replicas: 1
  image:
    repository: nginx
    tag: "1.27.2"
  service:
    type: ClusterIP
    port: 80
  ingress:
    enabled: true
    ingressClassName: nginx
    annotations:
      nginx.ingress.kubernetes.io/rewrite-target: /$2
      nginx.ingress.kubernetes.io/ssl-redirect: "false"
    hosts:
      - host: loki.localhost
        paths:
          - path: /loki(/|$)(.*)
            pathType: ImplementationSpecific
    tls: []

# disable other modes explicitly
backend:
  replicas: 0
read:
  replicas: 0
write:
  replicas: 0